@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/activity-indicator.scss";
@import '~taro-ui/dist/style/components/loading.scss';


.xl-login-btn {
  width: 80vw;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.xl-login-invitation {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 19vh;
  text-align: center;
  color: #ff4c91;
}

.xl-login-content {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.xl-login-context-love{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.xl-login-context-love-size {
  color: #ff8300a1;
  margin: 5vw 0;
  width: 100vw;
  text-align: center;
}

.xl-login-background-img {
  height: 100vh;
  width: 100vw;
}


.at-button--primary {
  color: #FFF;
  border: 1PX solid #ef749e;
  background: #ef749e;
}
